.search-container
  padding: 2rem
  text-align: left

  .search-input
    width: 100%
    max-width: 500px
    padding: 0.5rem
    font-size: 1.1rem
    border: 1px solid #ddd
    border-radius: 4px

